node_modules
/target
/classes
/checkouts
/resources/out/*
/resources/public/js/*
/resources/public/book-bodies/*.xml
/resources/public/book-covers/*.jpeg
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store
figwheel_server.log
