a
  position relative
  z-index 22222

.dnd-container
  position fixed
  left 0
  right 0
  top 0
  bottom 0

.dnd-drop
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  background rgba(128, 127, 127, 0.3)

.loader-container
  display: flex
  align-items: center

.loader-spinner
  margin: 70px auto 0
  display: block
  width: 1em
  height: 1em
  font-size: 2em
  border: .1em solid #15a6eb
  border-top-right-radius: .05em
  border-bottom-left-radius: .05em
  border-top-left-radius: .3em
  border-bottom-right-radius: .3em
  animation: turn 1.5s infinite,corner 1.5s infinite

@keyframes turn
  to
    transform rotate(90deg) translate(0.5em, 0.5em)


@keyframes corner
  30%
    border-radius 0.075em
  100%
    border-top-left-radius 0.05em
    border-bottom-right-radius 0.05em
    border-top-right-radius 0.3em
    border-bottom-left-radius 0.3em

